<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="vue.css">
    <title>TEST!!</title>
  </head>
  <body>
    
    <div id="app">
      <div class="title-container">
        <div>
          <h3 class="title">
            구기
          </h3>
        </div>
        <div class="filters">
			<span class="filter" v-bind:class="{ active: currentFilter === '전체' }" v-on:click="setFilter('전체')">전체</span>
        </div>
      </div>
    
      <transition-group class="projects" name="projects" >
        <div class="project" v-if="currentFilter === project.category || currentFilter === '전체'" v-bind:key="project.title" v-for="project in projects">
          <div class="project-image-wrapper">
            <img class="project-image" v-bind:src="project.image">
            <div class="gradient-overlay"></div>
            <div class="circle">
              <span class="project-title">{{project.title}}</span>
            </div>
          </div>
        </div>
      </transition-group>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var app=new Vue({
   el: '#app',
   data: {
      currentFilter: '전체',
      projects: [
	  	  {title: "라품", image: "https://picsum.photos/g/200?image=122", category: '전체'},
        {title: "러브올", image: "https://picsum.photos/g/200?image=122", category: '전체'},
        {title: "마농", image: "https://picsum.photos/g/200?image=116", category: '전체'},
        {title: "볼링부", image: "https://picsum.photos/g/200?image=121", category: '전체'},
        {title: "비룡야구부", image: "https://picsum.photos/g/200?image=121", category: '전체'},
        {title: "셔틀콕", image: "https://picsum.photos/g/200?image=121", category: '전체'},
        {title: "여자축구동아리 INHA-WICS", image: "https://picsum.photos/g/200?image=133", category: '전체'},
        {title: "인하fc", image: "https://picsum.photos/g/200?image=133", category: '전체'},
        {title: "에이스리베로", image: "https://picsum.photos/g/200?image=133", category: '전체'},
        {title: "Inha Teal Dragons", image: "https://picsum.photos/g/200?image=133", category: '전체'},
        {title: "테니스부", image: "https://picsum.photos/g/200?image=133", category: '전체'},
      ]
   },
   methods: {
      setFilter: function(filter) {
         this.currentFilter = filter;
      }
   }
})
    </script>
    
  </body>
</html>