* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.board_list_Warp {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 50px;
    height: 80vh;
}

.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
    top: 0; right: 0; bottom: 0; left: 0;
}

.board_list_head {
    border-top: 2px solid black;
    border-bottom: 1px solid white;
}

.board_list_body .item {
    border-bottom: 1px solid white;
}

.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list .num {
    width: 5%;   
}

.board_list .tit {
    width: 55%;   
}

.board_list_body div.tit {
    text-align: left;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .date {
    width: 10%;   
}

.board_list .deadline {
    width: 15%;   
}

.board_list .view {
    width: 10%;   
}

/* paging */
.paging {
   margin-top: 30px;
   text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.first,
.paging a.prev,
.paging a.next,
.paging a.last {
    width: 32px;
    height: 32px;
    background: #ccc;
    background-image: url();
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-right: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin-left: 0 5px;
}

.paging a.num:nth-of-type(1) {
    margin-left: 0px;
}