
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: relative;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.right-ul{
  float: right;
  margin-right: 20px;
}
.left-ul{
  float: left;
  margin-left: 20px;
}
.left-ul li{
  display: inline-block; 
  position: relative;
  line-height: 80px;
}
.left-ul li:after{
  content:"";
  width: 0;
  height: 50%;
  display: inline-block;
  background: #9aa9ff;
  position: absolute;
  bottom:27%;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}
.left-ul li:hover:after{
  width: 100%;
}

.right-ul li{
  display: inline-block; 
  position: relative;
  line-height: 80px;
}
.right-ul li:after{
  content:"";
  width: 0;
  height: 50%;
  display: inline-block;
  background: #9aa9ff;
  position: absolute;
  bottom:27%;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}
.right-ul li:hover:after{
  width: 100%;

}

ul li a{
  color:black;
  font-size: 1.5vw;
  padding: 7px 13px;
  border-radius: 3px;
}
/* a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
} */
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 850px){
  .checkbtn{
    display: block;
  }
  /* ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  } */
  /* nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  } */
  /* nav ul li a{
    font-size: 20px;
  } */
  /* a:hover,a.active{
    background: none;
    color: #0082e6;
  } */
  #check:checked ~ ul{
    left: 0;
  }
}

/* 밑 박스 3개 */
#container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
#box-1 {
  margin-right: 0%;
  width: 30%;
  height: 400px;
  background-color: rgb(202, 202, 202);
  text-align: center;
}

.top{
  padding-top: 30px;
  text-align: left;
}
.top li{
  padding-top: 10px;
  padding-left: 10px;
}
#box-2 {
  width: 30%;
  height: 400px;
  background-color: rgb(218, 218, 218);

  
}
#box-3 {

  width: 30%;
  height: 400px;
  background-color: rgb(247, 247, 247);
  
}
.box{
  font-size: 30px;
  text-align: center;
}
#동아리{
  text-align: left
}

/* //마감기한 밑 화살표 */
.styled {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:80%;
    border: 0;
    line-height: 2.5;
    padding: 0 30px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}

.styled:hover {
    background-color: gray;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0082e6;
  border-right: none;
  padding: 35px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0082e6;
  font-size: 23px;
  margin-bottom: 20%;
}

.logologo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  top: 10px;
}

.logologo img{
  width: 10vh; 
  object-fit: cover;
  top:2vh;
  display:block
}
.logologo p{
  text-align: center; 
  border-top: black 1px solid; 
  padding:5px; 
  margin-top: 20%;
  font-weight: bold;

}

.searchTerm:focus{
  color: #0082e6;
}

.searchButton {
  height: 76px;
  width: 40px;
  border: 1px solid #0082e6;
  background: #0082e6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}